# macOS
.DS_Store

# Xcode build artefacts
build/
DerivedData/
*.xcuserstate
xcuserdata/

# Swift Package Manager
.swiftpm/
.build/

# CocoaPods (not used here, but good practice)
Pods/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/
fastlane/test_output/
